@media(max-width:575.98px){
/* -----common----- */
.common_heading h4{
    font-size: 18px;
}
.common_heading h2{
    font-size: 25px;
    padding-bottom: 20px;
}
.left_btn, .right_btn{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
/* ---Header---- */
    .topbar_info{
        display: none !important;
    }
    .topbar_icon{
        justify-content: center !important;
    }
 /* -----Navbar----- */
    .logo_img{
        width: 140px;
        margin-left: 20px;
    }
    .main_menu .navbar-toggler{
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0;
        border-radius: 3px;
        background: #ff7c08;
        color: #ffffff;
        margin-right: 20px;

    }
    .main_menu .navbar-toggler.show {
        background: #eb0029;
    }
   nav .nav_menu{
    gap:20px;
    flex-direction: column;
    background: #ffffff;
    border-top: 1px solid #ff7c08;
    align-items: center;
    }
    nav .nav_menu .drop_menu{
        background: #ffffff;
        left:50px;
        transform: translateX(-60%);
    }
    nav .menu_icon{
        margin-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    /* -------NAVBAR ENDS------- */
    /* -------BANNER Starts------- */
    #banner{
        padding: 90px 0 100px 0;
    }
    .banner_shape_1,.banner_shape_2,.banner_shape_3,.banner_shape_5,.banner_shape_4,.banner_shape_6{
        display: none;
    }
    #banner .banner_text h3{
        font-size: 20px;
    }
    #banner .banner_text h1{
        font-size: 40px;
        line-height: 50px;
    }
    #banner .banner_text form input{
        padding: 15px;
    }
    #banner .banner_right .banner_img{
        display: none;
    }
    /* -------BANNER ENDS------- */
    /* -------OFFER Starts------- */
    #offer{
        padding: 60px 0;
    }
    #offer .offer_btn,#chefs .team_btn{
        top: 140px;
        right: 50px;
        gap: 5px;
    }
    .offer_item_wrap{
        align-items: center;
        justify-content: center;
    }
    #offer .offer_item_wrap .offer_item{
        margin: 0px;
        background: transparent;
    }
    #offer .offer_item_wrap .offer_item .offer_img{
        margin: 0;
       border-radius: 5px;
        max-height: 175px;
    }
    #offer .offer_item_wrap .offer_item span{
        font-size: 12px;
        top: 45px;
        left: 110px;
        width: 50px;
        height: 50px;
        line-height: 16px;
        text-align: center;
    }
    #offer .offer_item_wrap .offer_item .offer_item_text{
        top: 20px;
        left: 170px;
        max-width: 150px;
    }
    #offer .offer_item_wrap .offer_item .offer_item_text .title{
        font-size: 16px;
    }
    #offer .offer_item_wrap .offer_item .offer_item_text p{
        font-size: 13px;
        margin-bottom: 8px;
    }
    .offer_item_wrap.slick-initialized.slick-slider{
        margin: 0;
        padding: 0;
    }
    /* -------OFFER ENDS------- */
    /* -------Reservation Starts------- */
    #reservation{
        padding: 60px 0;
    }
    #reservation .reserve_bg{
        margin: 0 2px;
    }
    #reservation .reserve_bg .reservation_form{

        padding: 40px 20px 20px 20px;
    }
    #reservation .reserve_bg::after{
        border-radius: 10px;
        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
    }
    /* -------Reservation ENDS------- */
    /* -------MENU Starts------- */
    .food_item_wrap{
        align-items: center;
        justify-content: center;
    }
    #food_menu .food_menu_btn button{
        padding: 4px 15px;
        margin: 5px 5px 0px 5px;
        font-size: 13px;
    }
    #food_menu .food_item_wrap .food_menu_item {
        width: 280px;
    }
    /* -------MENU ENDS------- */
    /* -------CHEFS Starts------- */
    #chefs {
        padding: 60px 0;
      }
    /* -------CHEFS ENDS------- */
    /* -------best_seller Starts------- */
    #best_seller {
        padding: 60px 0;
      }
      #best_seller .best_seller_item {
        margin-top: 10px;
      }
      #best_seller .best_seller_item .seller_text{
        padding: 19px;
      }
      #best_seller .best_seller_item .seller_text h5{
        font-size: 16px;
        padding: 0 0 18px 0;
      }
      #best_seller .best_seller_item .seller_text h2{
        font-size: 19px;
      }
      #best_seller .best_seller_item .seller_text p {
        max-width: 170px;
        padding-top: 10px;
        font-size: 13px;
      }
    /* -------best_seller ENDS------- */
    /* -------ORDER Starts------- */
    #order .order h2{
        font-size: 30px;
    }
    /* -------ORDER ENDS------- */
    /* -------TESTIMONIAL Starts------- */
    #testimonial {
        padding: 60px 0;
      }
      #testimonial .testimonial_btn{
        right: 35px;
        gap: 5px;
      }
    /* -------TESTIMONIAL ENDS------- */
    /* -------BLOG Starts------- */
    #blog .blog_btn{
        top: 185px;
        right: 35px;
        gap: 5px;
    }
    #blog .blog_wrap .blog_item .blog_text .title{
        font-size: 20px;
    }
    /* -------BLOG ENDS------- */
/* ============================================== */
                /* CHEFS PAGE */
/* ================================================ */

    /* -------BANNER Starts------- */
    #about_banner{
        padding: 100px 0;
    }
    #about_banner .about_bn h1{
        display: flex;
        flex-wrap: wrap;
        line-height: 50px;
    }
    #chefs .team_wrap .team_member{
        max-width: 280px;
    }
    /* -------BANNER ENDS------- */
   
/* ------responsive for small device ends */
}


